@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
margin: 0;
padding:0;
box-sizing: border-box;
text-transform: uppercase;
}
/* body{
    background:linear-gradient(135deg ,rgb(138,43,226),
    rgb(57, 145, 225),rgb(255, 57, 196),rgb(255,0,255));
} */
body{
    background:#2a0345;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex;
    background-color:rgba(255, 255, 255, 0.6);
    border: 1px solid white;
    margin: 1%;
    border-radius: 10pt;
    /* background:url(../images/gettyimages-106002476-612x612.jpg);
    background-size:cover;
    background-position: center; */
}
.logo{
    background: url(../images/bestlogo.png);
    background-position: center;
    background-size: cover;
    border-radius: 10pt;
    width: 100px;
    height: 70px;
}
nav{
    display: flex;
    width:100vw;
    height:70px;
    justify-content: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 20px;
    border-radius: 10pt;
    padding: 12px;
    margin-top: 10%;
    margin-bottom: 10%;
    color:#2a0345;
    font-weight:900;  
    transition: all 0.4s ease;
}
nav ul li a:hover{
    /* background-color: purple; */
    /* font-size: large; */
    font-weight: bolder;
    color:white;
    background-color:#2a0345;

}
.center{
    /* background-image: url(../images/secondbgk.jpg); */
    height: 40vh;
    display: flex;
}
.submenu{
    display: none;
}
nav ul li:hover .submenu
{
    display: block;
    position:absolute;
}
nav ul li:hover .submenu ul li{
    display: block;
    background: top;
    text-align: left;
}
nav ul li:hover .submenu ul li a{
    border: 0;
    margin: 0px;
    color: white;
    text-align: left;
}
nav ul li:hover .submenu ul li a:hover{
    background-color: aliceblue;
    color:#2a0345;
    font-size: large;
}
.programs
{
    display: flex;
    text-align: center;
    height: 30vh;
    width: 30vw;
    transition: all 0.4s ease;
    align-items: center;
}
.codeoutput
{
    display: flex;
}
iframe{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.text{
    display: flex;
    justify-content: space-between;
}
.text button{
    color: #2a0345;
    background-color: whitesmoke;
    /* border-radius: 50pt; */
    font-weight: bolder;
    height: 40px;
    /* margin: 1%; */
    margin-bottom: 0;
    width: 150px;
    cursor: pointer;
    height: 50px;
    transition: all 0.4s ease-in-out;
    width: 200px;
}