@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@400;600&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
margin: 0;
padding:0;
box-sizing: border-box;
text-transform: uppercase;
}
/* body{
    background:linear-gradient(135deg ,rgb(138,43,226),
    rgb(57, 145, 225),rgb(255, 57, 196),rgb(255,0,255));
} */
.banner{
    background-image:linear-gradient( 220deg, rgba(0,0,0,0) 50%,rgba(255, 255, 255, 0.6) 50%), url(../images/bannerimage.png);
    background-position: center;
    background-size: cover;
    height:100vh;
    position: relative;
    width: 100vw;
}
.navbar{
    display: flex;
    /* justify-content: ; */
    /* background:url(../images/gettyimages-106002476-612x612.jpg);
    background-size:cover;
    background-position: center; */
}
.logo{
    background: url(../images/bestlogo.png);
    background-position: center;
    background-size: cover;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    width: 110px;
    margin: 1%;
    height: 80px;
}
nav{
    display: flex;
    width:100vw;
    height:70px;
    align-items: right;
    margin: 1%;
    justify-content: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    margin-right: 15px;
    padding: 12px;
    margin-top: 10%;
    color:white;
    font-weight: bolder;  
    border-radius: 10px;
    transition: all 0.4s ease;
}
#srch1{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 27px 65px ;
    padding: 5;
}
nav ul li a:hover{
    /* background-color: purple; */
    /* font-size: large; */
    font-weight: bolder;
    background-color:#2a0345;
    transform: translate(0,-8px);
}

.submenu{
    display: none;
}
nav ul li:hover .submenu
{
    display: block;
    position:absolute;
}
nav ul li:hover .submenu ul li{
    display: block;
    background: top;
    text-align: left;
}
nav ul li:hover .submenu ul li a{
    border: 0;
    transform: translate(0,8px);
    margin: 0px;
    text-align: left;
}
.webbanner_text
{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 95vh;
}
.webbanner_text .text{
    padding: 45px;
}
.text h1{
    color:rgb(64, 12, 160)
}
.text p{
    font-weight: bold;
    margin-top:2%;
    color: purple;
}
button{
    height: 6vh;
    margin-top: 4%;
    border-radius: 30px;
    background-color:#2a0345;
    width: 20vw;
    transition: all ease-in-out 0.4s;
}
.text a{
    text-decoration: none;
    font-size: medium;
    color:white;
    font-weight: bold;
}
button:hover{
   width:21vw;
   height: 6.5vh
}
.htm_content{
    margin: 2%;
    display: flex;
    width: 96%;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.8;
    background-color: whitesmoke;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    border-radius:15pt;
    box-shadow:10pt;
    align-items: flex-start;
    flex-basis: 50%;
}
.css_content{
    margin:2%;
    display: flex;
    width: 96%;
    align-items: center;
    opacity: 0.8;
    background-color: whitesmoke;
    border-radius:15pt;
    box-shadow:10pt;
    /* align-items: flex-start; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1;
    flex-basis: 50%;
}
.javascript_content
{
    margin:2%;
    display: flex;
    width: 96%;
    align-items: center;
    opacity: 0.8;
    background-color: whitesmoke;
    border-radius:15pt;
    box-shadow:10pt;
    /* align-items: flex-start; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1;
    flex-basis: 50%;
}
.htm_content img{
    opacity: 1;
    height: 400px;
    width: 600px;
}
.css_content img
{
    opacity: 1;
    height: 400px;
    width: 450px;

}
.javascript_content img{
    width:400px;
    height: 400px;  
}
.content{
    margin-top: 10vh;
    margin-left: 10vw;
}
.content pre{
    font-weight: bolder;
    letter-spacing: 1px;
    color: #ffb83f;
    margin-top: 2%;
}

.content a button{
    color: #2a0345;
    background-color: transparent;
    font-weight: bold;
    height: 40px;
    width: 150px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}
.whole_content a button:hover
{
    background-color: #2a0345;
    border: 1px solid white;
    color:white;
}
/* .select a:first-child:link
{
    background-color:orange
}
.div1{
    background: url(../images/secondbgk.jpg);
    height: 30vh;
    width: 100%;
    background-position: center;
    background-position: cover;
    opacity: 0.2;
} */
/* .select{
    background: black;
    height:45px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select a{
    color: white;
    padding:0.5% 15% ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: larger;

    margin: 0.2%;
}
.center{
    /* background-image: url(../images/secondbgk.jpg); 
   background:linear-gradient(#2b0245 0%, black 74%);
    height: 100vh;
    display: flex;
}
.sidebar{
    height: 100vh;
    width: 20vw;
    overflow: scroll;
    }
.sidebar a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    padding: 1%;
    margin-left: 5%;
    border-radius: 100px;
    color:white;
    font-weight: bold;
}
.center .content{
    margin: 1%;
    color: aliceblue;

}
.sidebar h2{
    color: gold;
}
h1{
    margin:2%;
    color:gold;
}
pre{
    margin: 1%;
    letter-spacing: 1px;
}
h2{
    color:rgb(226, 199, 45);
    margin: 3%;
}
.content ul li{
    margin-left: 1%;
    letter-spacing: 1px;
} */